.home {
  background-color: black;
  height: 100%;
}

.home h1 {
  font-size: 200px;
  text-align: center;
  color: white;
}
.enter {
  text-align: center;
  font-size: 100px;
  height: 300px;
}

.enter a {
  text-decoration: none;
  color: red;
}

html {
  background: white;
}
body {
  Margin: 10px;
  border: 50px solid black;
}
h2 {
  font-size: 75px;
}
h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}
p {
 font-size: 20px;
 width: 95%;
 margin: 20px;
}
#head {
  background-color: black;
  height: 500px;
}
#banner {
  text-align: left;
  font-size: 100px;
  color: white;
  width: 30%;
  margin-top: 0px;
}
.index {
  text-align: right;
  width: 100%;
}
.index a {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  width: 100%;
  margin: 20px;
  text-decoration: none;
}
.intro {
  min-height: 500px;
  max-height: 1000px;
  padding: 50px 100px;
}
.intro p {
  font-size: 25px;
}
.flowLeft {
  float: left;
  margin-right: 30px;
}
.music {
  background-image: url("http://st.depositphotos.com/1004216/1325/v/950/depositphotos_13252738-Light-blue-abstract-vector-background---music-notes.jpg");
  background-size: cover;
}
.grid{
  display: grid;
  height: 1500px;
  width: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: space-around;
}

.grid a{
  text-decoration: none;
  color: black;
}
.box {
  border: black solid 1px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
}
.band-image {
  padding-top: 20px;
}

.interests {
  display: inline-block;
  width: 20%;
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.interests h3 {
  text-align: center;
}

#lfc {
  border-top: 5px solid red;
}

th {
  background-color: red;
}
th, td {
  border: 2px solid black;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
}
td {
  background-color: rgb(105,38,52);
}
table {
  width: 100%;
  padding: 10px;
}

.contact {
  padding-left: 20px;
}
